<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View All Portfolio Items", portfolios_path %> /
      <a href="#">Back to top</a>
    </p>
    <p>
      <%= copyright_generator %>
        <a class="list-unstyled social-links" href="https://github.com/bradyberryessa"><%= fa_icon "github" %></a>
        <a class="list-unstyled social-links" href="https://www.linkedin.com/in/bradyberryessa/"><%= fa_icon "linkedin" %></a>
        <a class="list-unstyled social-links" href="https://www.facebook.com/brady.berryessa14"><%= fa_icon "facebook" %></a>
    </p>
  </div>
</footer>