<div class="collapse" id="devSkills">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'html.png', width: '100%' %>
      </div>
      <div class="col-md-3 education-center">
        <%= image_tag 'css.png', width: '100%' %>
      </div>
      <div class="col-md-3 education-center">
        <%= image_tag 'sql.png', width: '100%' %>
      </div>
      <div class="col-md-3 education-center">
        <%= image_tag 'GITT.svg', width: '100%' %>
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3 education-center">
        <%= image_tag 'ruby.png', width: '100%' %>
      </div>
      <div class="col-md-3 education-center">
        <%= image_tag 'rails.png', width: '100%' %>
      </div>
      <div class="col-md-3 education-center">
        <%= image_tag 'react.png', width: '100%' %>
      </div>
      <div class="col-md-3 education-center">
        <%= image_tag 'athing.png', width: '100%' %>
      </div>
    </div>
  </div>
</div>
