<div class="collapse" id="hobbies">
  <div class="card">
    <div class="row">
      <div class="col-md-4 thick-border">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= image_tag 'fishingIcon.png', width: '100%' %>
          </div>
          <div class="col-md-1"></div>
        </div>    
      </div>
      <div class="col-md-4 thick-border">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= image_tag 'campingIcon.png', width: '100%' %>
          </div>
          <div class="col-md-1"></div>
        </div>    
      </div>
      <div class="col-md-4 thick-border">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= image_tag 'huntingIcon.png', width: '100%' %>
          </div>
          <div class="col-md-1"></div>
        </div>    
      </div>
    </div>
    <div class='row'>
      <div class="col-md-4 thick-border">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= image_tag 'fishingIcon.png', width: '100%' %>
          </div>
          <div class="col-md-1"></div>
        </div>    
      </div>
      <div class="col-md-4 thick-border">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= image_tag 'campingIcon.png', width: '100%' %>
          </div>
          <div class="col-md-1"></div>
        </div>    
      </div>
      <div class="col-md-4 thick-border">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= image_tag 'huntingIcon.png', width: '100%' %>
          </div>
          <div class="col-md-1"></div>
        </div>    
      </div>
    </div>
  </div>
</div>