<div class="collapse" id="hobbies">
  <div class="row">
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'fishingIcon.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'campingIcon.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'huntingIcon.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'fishingIcon.png', width: '100%' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'fishingIcon.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'campingIcon.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'huntingIcon.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'fishingIcon.png', width: '100%' %>
    </div>
  </div>
</div>