<div class="collapse" id="devSkills">
  <div class="row">
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'HTML5.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'CSS3.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'SQL2.png', width: '100%' %>
    </div>
    <div class="col-md-3 education-center card card-block">
      <%= image_tag 'React.png', width: '100%' %>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3 education-center card card-block">
        <%= image_tag 'Ruby.png', width: '100%' %>
      </div>
      <div class="col-md-3 education-center card card-block">
        <%= image_tag 'Rails.jpg', width: '100%' %>
      </div>
      <div class="col-md-3 education-center card card-block">
        <%= image_tag 'JS.svg', width: '100%' %>
      </div>
      <div class="col-md-3 education-center card card-block">
        <%= image_tag 'Angular.svg', width: '100%' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3 education-center card card-block">
        <%= image_tag 'Node.png', width: '100%' %>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

