<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class ="row">
      <div class="col-md-4">
        <%= image_tag "NewResumePic.jpg", width: 300, alt: "Profile Picture", class: 'profile-img' %>

        <div class ="skills">
          <% @skills .each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div 
              class="progress-bar progress-bar-striped bg-success"
              roles='progressbar'
              aria-valuenow="<%= skill.percent_utilized %>"
              aria-valuemax="100"
              style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8 make-it-look-good">
        <p>I've always had an interest in technology. I was always the kid that would have a countdown to Apple's WWDC every year to see what Apple's newest release would be. I'd check Engadget and TechCrunch on the daily to keep up to date with everything.</p>

        <p>At my first job out of college, I sold websites and digital marketing services. I tried to itch my technology scratch by working at a company tech field, but it just wasn't enough. Being jealous of the developers and their jobs pushed me to learn how to code. It truly has filled the void that I was having in my professional life.</p>

        <%= render 'about_buttons' %>
        <%= render 'about_job_history' %>
        <%= render 'about_education' %>
        <%= render 'about_dev_skills' %>
      </div>
    </div>
  </div>
</div>